:host {
  padding: 50px;
}

.container {
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
  height: 700px;
}

nav {
  width: 80%;
  padding: 20px;
  margin: 20px auto;
}

a {
  color: #333;
  margin: 0 10px;
  text-decoration: none;
  background-color: white;
  padding: 5px 10px;
  border-radius: 3px;
}
